<header>
    <div class="interior">
      <a href="" class="logo"><img src="sbimagen.gif" alt="Logo"></a>
      <nav class="navegacion">
        <ul>
          <li><a href='home'>Home</a></li>
          <li><a href='catalog'>Catalogo</a></li>
          <li><a href="">Turnos</a></li>
          <li class="submenu">
            <a href="">Mi Perfil</a>
            <ul class="hijos">
              <li><a href="">Mis Datos</a></li>
              <li><a href="">Cerrar Sesion</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
