<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre">Nombre del producto:</label>
    <input type="text" id="nombre" formControlName="nombre">
    @if(productForm.get('nombre')?.hasError('required') && productForm.get('nombre')?.touched){
      Nombre es requerido.
    }
    </div>


  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="number" id="precio" formControlName="precio" step="1000">
    @if(productForm.get('precio')?.hasError('required') && productForm.get('precio')?.touched){
      Precio es requerido.
    }
    @if(productForm.get('precio')?.hasError('min')){
      Ingrese un valor valido.
    }
  </div>

  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" (change)="onFileSelected($event)">
    @if(productForm.get('imagen')?.hasError('required') && productForm.get('imagen')?.touched){
      Imagen es requerida.
    }
  </div>

  <button type="submit" [disabled]="productForm.invalid">Agregar al Catálogo</button>
</form>

