<div class="container">

<h1>Catálogo de Productos</h1>

<div *ngIf="!isEditMode">

<app-catalogadd (addProduct)="onAddProduct($event)"></app-catalogadd>
<app-cataloglist
  [products]="products"
  [currentProduct]="currentProduct"
  (editRequest)="onEditRequest($event)"
  (deleteRequest)="onDeleteRequest($event)"
  (mouseOverProduct)="onMouseOverProduct($event)">
</app-cataloglist>
</div>

<div *ngIf="isEditMode" class="edit-overlay">
  <div class="edit-card">
    <app-catalogedit
      [product]="currentProduct"
      (save)="updateProduct($event)"
      (cancel)="cancelEdit()">
    </app-catalogedit>
  </div>
</div>

</div>
