<div class="container">
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nombre" id="labelFormGroup">Nombre del producto:</label>
    <input type="text" id="nombre" formControlName="nombre">
    <div *ngIf="productForm.get('nombre')?.hasError('required') && productForm.get('nombre')?.touched" class="error">
      <div class="error-message">
        Nombre es requerido.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="precio" id="labelFormGroup">Precio:</label>
    <input type="number" id="precio" formControlName="precio" step="1000">
    <div *ngIf="productForm.get('precio')?.hasError('required') && productForm.get('precio')?.touched" class="error">
      <div class="error-message">
        Precio invalido.
      </div>
    </div>
    <div *ngIf="productForm.get('precio')?.hasError('min') && productForm.get('precio')?.dirty" class="error">
      <div class="error-message">
        Ingrese un valor valido.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="descripcion" id="labelFormGroup">Descripción:</label>
    <div class="textarea-container">
      <textarea
        id="descripcion"
        formControlName="descripcion"
        [maxlength]="maxCaracteres"
        placeholder="Añada una descripcion al producto"
      ></textarea>
      <span class="caracteres-contador" [class.pocos]="caracteresRestantes <= 20">
        {{ caracteresRestantes }} caracteres restantes
      </span>
    </div>
    <div *ngIf="productForm.get('descripcion')?.hasError('required') && productForm.get('descripcion')?.touched" class="error">
      <div class="error-message">
        La descripcion es obligatoria
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="imagen" id="labelFormGroup">Imagen:</label>
    <input type="file" id="imagen" (change)="onFileSelected($event)">
    <div *ngIf="productForm.get('imagen')?.hasError('required') && productForm.get('imagen')?.touched" class="error">
      <div class="error-message">
        Imagen es requerida.
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="productForm.invalid">Agregar al Catálogo</button>
</form>
</div>
