<div class="comments-container">
  <div class="comments-header">
    <h2>Comentarios</h2>
    <div class="header-buttons" *ngIf="usuarioLogueado">
      <button 
        class="filter-button" 
        (click)="toggleFiltroMisComentarios()"
        [class.active]="mostrarSoloMisComentarios"
      >
        {{ textoBotonFiltro }}
      </button>
      <button class="create-button" (click)="navegarACrear()">
        Crear Comentario
      </button>
    </div>
  </div>

  <div class="comments-list">
    <div *ngFor="let comment of filteredComments" class="comment-card">
      <div class="comment-header">
        <h3>{{ comment.titulo }}</h3>
        <button 
          *ngIf="puedeEliminar(comment)"
          class="delete-button"
          (click)="eliminarComentario(comment.id!)"
        >
          <i class="fas fa-trash"></i>
        </button>
      </div>
      <p>{{ comment.descripcion }}</p>
      <small>Creado por: {{ comment.userName }}</small>
    </div>
  </div>

  <div class="button-container">
    <button 
      *ngIf="hasMore && !mostrarSoloMisComentarios" 
      class="load-more" 
      (click)="cargarMas()"
    >
      Cargar más comentarios
    </button>

    <button 
      *ngIf="mostrarBotonMenos" 
      class="show-less"
      (click)="mostrarMenos()"
    >
      Mostrar menos comentarios
    </button>
  </div>
</div>
