.container {
  max-width: 40rem;
  margin: 6rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

div {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

input, textarea, select {
  width: 100%;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.3125rem;
}

button {
  padding: 0.625rem 1.25rem;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1.25rem;
}

button:hover {
  background-color: #0056b3;
}


select {
  font-size: 1rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.textarea-container {
  position: relative;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 0.625rem;
  padding-bottom: 1.5rem; /* Espacio para el contador */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  resize: none;
  min-height: 100px;
}

.caracteres-contador {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 0.8rem;
  color: #666;
}

/* Estilo cuando quedan pocos caracteres */
.caracteres-contador.pocos {
  color: #ff4444;
}

/* Ajuste del margen inferior para el contenedor */
.textarea-container {
  margin-bottom: 0.5rem;
}


