

<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <div class="avatar">
        <div class="avatar-initial">{{ getInitial() }}</div>
      </div>
      <h2>Perfil de {{ usuario?.nombre }}</h2>
    </div>

    <div class="profile-info">
      <div class="info-item">
        <i class="fas fa-user"></i>
        <div class="info-content">
          <label>Nombre</label>
          <p>{{ usuario?.nombre }}</p>
        </div>
      </div>

      <div class="info-item">
        <i class="fas fa-user-tag"></i>
        <div class="info-content">
          <label>Nombre de Usuario</label>
          <p>{{ usuario?.username }}</p>
        </div>
      </div>

      <div class="info-item">
        <i class="fas fa-envelope"></i>
        <div class="info-content">
          <label>Correo Electrónico</label>
          <p>{{ usuario?.email }}</p>
        </div>
      </div>

      <div class="info-item">
        <i class="fas fa-phone"></i>
        <div class="info-content">
          <label>Teléfono</label>
          <p>{{ usuario?.telefono }}</p>
        </div>
      </div>

      <div class="info-item">
        <i class="fas fa-car"></i>
        <div class="info-content">
          <label>Vehiculo</label>
          <p>{{ usuario?.marca }}</p>
        </div>
      </div>

      <div class="info-item">
        <i class="fas fa-key"></i>
        <div class="info-content">
          <label>Contraseña</label>
          <div class="password-input-container">
            <p>{{ showPassword ? usuario?.password : '••••••••' }}</p>
            <button type="button" class="toggle-password" (click)="togglePassword()">
              <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
          </div>
        </div>
      </div>
      

      <div class="button-container">
        <button class="edit-button" routerLink="/edit-profile">
          <i class="fas fa-edit"></i> Modificar Datos
        </button>
      </div>
    </div>
  </div>
</div>
