
<div id="descripcion">

<h1 class="Titulo" >Lubricentro SB</h1>
<h3>A que nos dedicamos?</h3>

<p>Es tu destino integral para el mantenimiento y la reparación de vehículos. Nos especializamos en ofrecer servicios de alta calidad que aseguran el óptimo desempeño de tu automóvil.</p>
        <p><strong>Servicios ofrecidos:</strong></p>
        <ul>
            <li>Cambio de aceite y filtros para proteger tu motor.</li>
            <li>Revisión y relleno de todos los fluidos esenciales, como líquido de frenos y refrigerante.</li>
            <li>Lubricación de partes móviles para un funcionamiento suave y eficiente.</li>
            <li>Reparación general del vehículo, incluyendo frenos, suspensión, motor y sistema eléctrico.</li>
            <li>Chequeos preventivos para garantizar tu seguridad en la carretera.</li>
        </ul>
        <p>En Lubricentro SB, combinamos experiencia y profesionalismo para mantener tu vehículo en perfectas condiciones. Visítanos y siente la diferencia en cada kilómetro
</div>

<div id="mapa">
  <app-map></app-map>
</div>
